<!DOCTYPE html>

<html class= "js flexboxlegacy canvas canvastext no-touch history backgroundsize csscolumns cssgradients csstransforms csstransforms3d video localstorage blobconstructor cors no-cssmask dataview filereader fileinput fullscreen formvalidation todataurljpeg todataurlwebp no-exif-orientation wf-jubilat-n2-active wf-jubilat-n4-active wf-jubilat-n5-active wf-jubilat-n6-active wf-active"
data-platform="Win32" data-useragent=
"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/27.0.1453.116 Safari/537.36"
id="" lang="en" style="">
<head>
  <title>Recent Topics - Giant Bomb</title>
  <link href="http://static.giantbomb.com/bundles/phoenixsite/images/core/loose/favicon-gb.ico"
  rel="shortcut icon">
  <link href="http://static.giantbomb.com/bundles/phoenixsite/images/core/loose/apple-touch-icon-precomposed-gb.png"
  rel="apple-touch-icon icon-precomposed">
  <link href="http://static.giantbomb.com/bundles/giantbombsite/css/giantbomb_black-5d12f1fcf7e4b9d0c34f5700d9e16a36.css"
  id="skin-color" rel="stylesheet">
  <script src="//use.typekit.net/pec3wjt.js" type="text/javascript"></script>
  <style type="text/css">
.tk-jubilat{font-family:"jubilat",sans-serif;}
  </style>
  <link href="http://use.typekit.net/c/19e421/jubilat:n2:n4:n5:n6.Vxw:H:2,Vxx:H:2,QzW:H:2,W1K:H:2/d?3bb2a6e53c9684ffdc9a98f3195b2a62570692be916811d2a543b3e3ae0b0bb489059aa5a67695034ce22e24e52ac9c050609b3d2cf9e54b913978597c54b59614323514ce6a1f99deca4810c769c5a9ecc686906eab95519fd8b03289de39c1a76ea9a71f9658881e224e4f38edbb58ca43af914251c349623166e602e1b488fe3ae0e7cdf7d5f3b41e72861f3d78a6d4f4cee6e5398e8e92c8e9fcff0c4d00a3872305bc043f7b4a6e7c4dbd5be76c9d3c0515a9725b7caddfea48d23209638e3ef4662796573e9a63f4eb45e2f3d57a41f7411bbbff6e34c8a44d5797e9c78959464c7a182939385df2f025c50ed1479c42ada2a77df324acbf4b5a"
  rel="stylesheet">
  <script type="text/javascript">
try{Typekit.load();}catch(e){}
  </script>
  <script src=
  "http://static.giantbomb.com/js/compiled/header_js.js?a256fbe94b527faa37c38971dd3455db"
  type="text/javascript"></script>
</head>

<body class="is-not-scrolling default skin-no" id="forums">

  <div id="site-main">
    <div id="mantle_skin">
          {% block above_content %}
          {% endblock %}

          {% block content %}
          {% endblock %}

          {% block aside_content %}


          {% endblock %}
        </div>
      </section>
    </div>
  </div>

  <script src=
  "//ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js" type=
  "text/javascript"></script> <script src=
"//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js" type=
"text/javascript"></script> <script src=
"//ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/jquery-ui.min.js" type=
"text/javascript"></script> <script src=
"http://static.giantbomb.com/js/compiled/all.js?a256fbe94b527faa37c38971dd3455db"
  type="text/javascript"></script> 

   <script src=
  "http://static.giantbomb.com/js/compiled/wysiwyg.js?a256fbe94b527faa37c38971dd3455db"
  type="text/javascript"></script>
</body>
</html>
