<div class="forum-aside board-list">
  <h3 class="header-border">Forums</h3>

  <form action="/forums/search/" class="forum-aside-search" method=
  "get">
    <input class="fluid-width" name="forum_search[q]" placeholder=
    "Search the forums" type="text"> <input class=
    "btn btn-mini btn-primary" type="submit" value="Search">
  </form>

  <h4 class="header-border">Main boards</h4>

  <ul>
    <li class="">
      <a href="/forums/favorites/boards/">Favorite Boards</a>
    </li>

    <li class="">
      <a href="/forums/favorites/topics/">Watched Topics</a>
    </li>

    <li class="">
      <a href="/forums/deleted-topics/">Deleted Topics</a>
    </li>

    <li class="">
      <a href="/forums/general-discussion-30/">General
      Discussion</a>
    </li>

    <li class="">
      <a href="/forums/off-topic-31/">Off-Topic</a>
    </li>

    <li class="">
      <a href="/forums/bombcast-32/">Bombcast</a>
    </li>

    <li class="">
      <a href="/forums/bug-reporting-33/">Bug Reporting</a>
    </li>

    <li class="">
      <a href="/forums/delete-combine-requests-34/">Delete &amp;
      Combine Requests</a>
    </li>

    <li class="">
      <a href="/forums/editing-tools-820/">Editing &amp; Tools</a>
    </li>

    <li class="">
      <a href="/forums/moderator-hangout-826/">Moderator
      Hangout</a>
    </li>

    <li class="">
      <a href="/forums/api-developers-3017/">API Developers</a>
    </li>

    <li class="">
      <a href="/forums/quests-5331/">Quests</a>
    </li>

    <li class="">
      <a href="/forums/bomb-squad-6871/">Bomb Squad</a>
    </li>
  </ul>

  <h4 class="header-border">Popular wiki boards</h4>

  <ul>
    <li class="">
      <a href="/xbox-one/3045-145/forums/">Xbox One</a>
    </li>

    <li class="">
      <a href="/bioshock-infinite/3030-32317/forums/">BioShock
      Infinite</a>
    </li>

    <li class="">
      <a href="/playstation-4/3045-146/forums/">PlayStation 4</a>
    </li>

    <li class="">
      <a href="/pc/3045-94/forums/">PC</a>
    </li>

    <li class="">
      <a href="/e3-2013/3015-7534/forums/">E3 2013</a>
    </li>

    <li class="">
      <a href="/street-fighter-iv/3030-20456/forums/">Street
      Fighter IV</a>
    </li>

    <li class="">
      <a href="/playstation-3/3045-35/forums/">PlayStation 3</a>
    </li>

    <li class="">
      <a href="/the-last-of-us/3030-36989/forums/">The Last of
      Us</a>
    </li>

    <li class="">
      <a href="/xbox-360/3045-20/forums/">Xbox 360</a>
    </li>

    <li class="">
      <a href="/steam/3015-718/forums/">Steam</a>
    </li>
  </ul>

  <h4 class="header-border">Contact the moderators</h4>

  <p>The Giant Bomb moderators are here to help. <a href=
  "/pm/compose-mods/">Click here</a> to send a private message to
  our entire mod crew.</p>
</div>