<div class="forum-aside board-list">
  <h3 class="header-border">Boards</h3>

  <ul>
    {% for board in board_list %}
    <li class="">
        <a href="/forums/{{ board.name|slugify }}/{{ board.id }}/">{{ board.name }}</a>
    </li>
    {% endfor %}

    <li class="">
      <a href="/forums/deleted-topics/">Deleted Topics</a>
    </li>

  </ul>

{% comment %}
  <h4 class="header-border">Contact the moderators</h4>

  <p>The Giant Bomb moderators are here to help. <a href=
  "/pm/compose-mods/">Click here</a> to send a private message to
  our entire mod crew.</p>
{% endcomment %}
</div>
