
  <div class="forum-aside top-posters">
    <h3 class="header-border">Top posters</h3>

    <ul class="top-users">
      <li>
        <a href="/profile/video_game_king/">
        <div class="avatar"><img src=
        "http://static.giantbomb.com/uploads/square_avatar/0/7395/2430415-new+avatar.png"></div>Video_Game_King
        <span>30752 posts</span></a>
      </li>

      <li>
        <a href="/profile/jakob187/">
        <div class="avatar"><img src=
        "http://static.giantbomb.com/uploads/square_avatar/1/19306/1319460-joe.jpg"></div>jakob187
        <span>20930 posts</span></a>
      </li>

      <li>
        <a href="/profile/hailinel/">
        <div class="avatar"><img src=
        "http://static.giantbomb.com/uploads/square_avatar/0/6228/2323902-blinged_avatar.gif"></div>Hailinel
        <span>19179 posts</span></a>
      </li>

      <li>
        <a href="/profile/natetodamax/">
        <div class="avatar"><img src=
        "http://static.giantbomb.com/uploads/square_avatar/1/11986/2079593-dojima_claus.png"></div>natetodamax
        <span>19033 posts</span></a>
      </li>

      <li>
        <a href="/profile/ahmadmetallic/">
        <div class="avatar"><img src=
        "http://static.giantbomb.com/uploads/square_avatar/2/22269/2339012-wallpaper_847224.jpg"></div>AhmadMetallic
        <span>18957 posts</span></a>
      </li>

      <li>
        <a href="/profile/yummylee/">
        <div class="avatar"><img src=
        "http://static.giantbomb.com/uploads/square_avatar/1/10354/2497642-2400997-barrycartoon.jpg"></div>Yummylee
        <span>18560 posts</span></a>
      </li>

      <li>
        <a href="/profile/jjor64/">
        <div class="avatar"><img src=
        "http://static.giantbomb.com/uploads/square_avatar/1/18175/2508844-1813342-iloveryandays1.jpg"></div>JJOR64
        <span>18390 posts</span></a>
      </li>

      <li>
        <a href="/profile/fluxwavez/">
        <div class="avatar"><img src=
        "http://static.giantbomb.com/uploads/square_avatar/3/33880/2310895-wright.png"></div>FluxWaveZ
        <span>18332 posts</span></a>
      </li>

      <li>
        <a href="/profile/cl60/">
        <div class="avatar"><img src=
        "http://static.giantbomb.com/uploads/square_avatar/3/32253/1201796-1201793_woo_super.png"></div>CL60
        <span>16906 posts</span></a>
      </li>

      <li>
        <a href="/profile/claude/">
        <div class="avatar"><img src=
        "http://static.giantbomb.com/uploads/square_avatar/0/5177/2409674-spacestationsiliconvalley.jpg"></div>Claude
        <span>15997 posts</span></a>
      </li>
    </ul>
  </div>